$small: 430px;
.Notes-container{
    display: flex;
    flex-wrap: wrap;

}
.Notes-container >div{
 margin:10px
}
@media screen and (max-width :$small ) {
    .Notes-container{
        margin-left: 50px;
    }
    
}