$icon1Color: #4e4747;

@mixin inputSearch {
  text-align: left;
  width: 100%;
  border: none;
  font-size: 16px;
  outline: none;
  border-radius: 5px;
  background-color: #e9eef1;
}
.logosearch {
  margin: 10px;
}

@mixin searchBar {
  border: none;
  outline: none;
  display: flex;
  flex-direction: row;
  align-items: left;
  width: 60%;
  height: 45px;
  border-radius: 5px;
}
.headbar {
  display: flex;
  justify-content: space-around;
  height: 60px;
  align-items: center;
}

.search-bar {
  @include searchBar();
  background-color: #ebeff1;

  .input-search {
    @include inputSearch();
  }
  #search-icon {
    float: left;
  }
}

.nav-right-icon {
  width: 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #817a7a;
}
.keeplogo {
  margin-left: -40px;
}
.keepword {
  display: flex;

  margin-left: -40px;
}
.accountdetails {
  width: 350px;

  .detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .manageaccount {
    width: 90%;
    display: flex;
    justify-content: center;
    height: 30px;
    border: 1px solid;
    border-radius: 4px;
    margin-top: 5%;
  }
  .imagedetails {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    border: 1px solid;
  }
  .addaccount {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    .logo {
      width: 60%;
      display: flex;
      justify-content: center;
      border: 1px solid;
    }
  }
}
