.container{
    background-color: #fff;
    border-color: #e0e0e0;
    border: 1px solid #dadce0;
    border-radius: 8px;
    width: 240px;
    height: 122px;
    display: flex;
    margin-left: 50px;
    margin-top: 20px;
    flex-direction: column;
    justify-content: space-around;
    border: 2px solid #dadce0;
    box-shadow:0 1px 1px 1px rgb(201, 195, 195) ; 
    padding-left: 5px;
    .title{
        width:40px
    }
    .notes{
        width:100%
    }
}